{% extends 'base.html' %}

{% block content1 %}
<script> 
    function newLocation() { 
        window.location.href="register"; 
    } 
  </script> 

<div class="card-wrapper">
    <div class="card">
        <h1 class="center">
            Log In
        </h1>

        <form name ="login_form" action='#' method='POST'>

            <label for="email">email</label>
            <input type="email" class="field" name='email' required>

            <label for="password">Password</label>
            <input type="password" class="field" name='password' required>

            <p class="error error--hidden"></p>
            <input type="submit" class="btn" value='log in'>

            <input type="button" onclick='newLocation();' value="Create new account" style="margin-left: 0em">
 
        </form>
    </div>
</div>
{% endblock content1 %}