{% extends 'base.html' %}

{% block content2 %}
<script>
    function check(){
        var p1= document.getElementById('password').value;
        var p2= document.getElementById('confirmpassword').value;

        if (p1 == p2) {
            document.getElementById('message').style.color = 'green';
            document.getElementById('message').innerHTML = 'Correct !';
        }
        else{
            document.getElementById('message').style.color = 'red';
            document.getElementById('message').innerHTML = 'password and confirm password didnt matched !';
        }
    }
</script>

<div class="card-wrapper">
    <div class="card">
        <h1 class="center">
            Create a new account
        </h1>
        <form action='#' method='POST'>
            <label for="Full Name">Name</label>
            <input type="text" class="field" name='fullname' required>

            <label for="email">email</label>
            <input type="email" class="field" name='email' required>

            <label for="password">password</label>
            <input type="text" class="field" id='password' name='password' required>

            <label for="confirmpassword">Confirm Password</label>
            <input type="password" class="field" onkeyup='check();return false;'
            id='confirmpassword' required>
            <span id='message'> </span>

            <input type="submit" value="Log In" class="btn">

            


        </form>
    </div>
</div>

{% endblock content2 %}